<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="favicon2.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../peterdulworth/css/404.css">
  </head>
  <body>
    <a href="../index.html" id="back" style="text-align:center; position:absolute; margin-left:45%; width:10%; margin-top:3vw; z-index:9000;"><div class="glyphicon glyphicon-level-up"></div>Home</a>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="navbar-collapses">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>

    <div class="nameContainer">
      <span id="name">File Not Found</span>
    </div>

    <div id="chart"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="../peterdulworth/js/404.js"></script>
  </body>
</html>