 @font-face {
    font-family: "Didot LT Std";
    font-style: normal;
    font-weight: 400;
    src: local("DidotLTStd-Roman"), local('DidotLTStd-Roman'), url("https://d3jpwrui3eswtl.cloudfront.net/didotltstd/DidotLTStd-Roman-Regular.otf") format('opentype');
  }

body {
    font-family: 'Didot LT Std', sans-serif;
    /*font-size: 100%;*/
    /*padding-top: 5%;*/
}

.cover-photo {
  box-shadow: 8px 8px 10px #aaa;
}