@font-face {
  font-family: "Didot LT Std";
  font-style: normal;
  font-weight: 400;
  src: local("DidotLTStd-Roman"), local('DidotLTStd-Roman'), url("https://d3jpwrui3eswtl.cloudfront.net/didotltstd/DidotLTStd-Roman-Regular.otf") format('opentype');
}

@font-face {
  font-family: "Burgues Script";
  font-style: normal;
  font-weight: 400;
  src: local("Burgues Script"), local('BurguesScript'), url("https://d3jpwrui3eswtl.cloudfront.net/burguesscript/BurguesScript-Regular.otf") format('opentype');
}


body {
    font-family: 'Didot LT Std', sans-serif;
    font-style: italic;
    /*font-size: 100%;*/
    /*padding-top: 5%;*/
}

.header {
  letter-spacing:2.1px;
  font-size:50px;
  margin:0;
  font-family:"Didot LT Std";
  font-weight:400;
  font-style:normal;
}

.header-divider {
  font-family:"Burgues Script";
  font-weight:400;
  font-style:normal;
  line-height:1;
  text-transform:none;
  letter-spacing:normal;
  font-size:37.800000000000004px;
}

.cover-photo {
  display:block;
  width:100%;
  margin-bottom:30px;
  box-sizing:border-box;
  border:solid 8px #fff;
  box-shadow:0 1px 4px 
  rgba(0, 0, 0, 0.25);
}